.navImg {
	display: block;
	height: 100px;
	width: 100px;
}

.icon {
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 50px;
}

img#search.icon {
	width: 100px
}

.container {
	width: 1440px !important;
}